/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@font-face {
  font-family: 'RobotoCondensedBold';
  src: url('../fonts/RobotoCondensedBold.eot');
  src: url('../fonts/RobotoCondensedBold.eot') format('embedded-opentype'),
  url('../fonts/RobotoCondensedBold.woff2') format('woff2'),
  url('../fonts/RobotoCondensedBold.woff') format('woff'),
  url('../fonts/RobotoCondensedBold.ttf') format('truetype'),
  url('../fonts/RobotoCondensedBold.svg#RobotoCondensedBold') format('svg');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/RobotoLight.eot');
  src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
  url('../fonts/RobotoLight.woff2') format('woff2'),
  url('../fonts/RobotoLight.woff') format('woff'),
  url('../fonts/RobotoLight.ttf') format('truetype'),
  url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}

@font-face {
  font-family: 'RobotoItalic';
  src: url('../fonts/RobotoItalic.eot');
  src: url('../fonts/RobotoItalic.eot') format('embedded-opentype'),
  url('../fonts/RobotoItalic.woff2') format('woff2'),
  url('../fonts/RobotoItalic.woff') format('woff'),
  url('../fonts/RobotoItalic.ttf') format('truetype'),
  url('../fonts/RobotoItalic.svg#RobotoItalic') format('svg');
}

$bold: "RobotoCondensedBold", sans-serif;
$light: "RobotoLight", sans-serif;
$italic: "RobotoItalic", sans-serif;
$width: 1180px;
$widthMiddle: 768px;
$widthLow: 320px;

body.russiaeasyBody {
  font-family: $light;
  background-color: #f6f6f6;
  font-size: 14px;
  line-height: 24px;
  color: #102a36;
  h1 {
    font-family: $bold;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 64px;
    color: #102a36;
  }
  h2 {
    font-family: $bold;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
    color: #102a36;
  }
  h3 {
    font-family: $light;
    font-size: 32px;
    line-height: 46px;
    color: #102a36;
  }
  h4 {
    font-family: $light;
    font-size: 21px;
    line-height: 32px;
    color: #102a36;
  }
  h5 {
    font-family: $light;
    font-size: 16px;
    line-height: 24px;
    color: #102a36;
  }
  p {
    color: #102a36;
  }
}

.redLine {
  width: 60px;
  height: 5px;
  background-color: #e42c2b;
}

// Searching
#_com_liferay_portal_search_web_portlet_SearchPortlet_facetNavigation {
  display: none;
}

#_com_liferay_portal_search_web_portlet_SearchPortlet_searchContainer {
  > div > div {
    vertical-align: middle;
  }
}

#portlet_com_liferay_portal_search_web_portlet_SearchPortlet {
  .portlet-icon-back {
    display: none;
  }
  form {
    margin-left: 40px;
    .lfr-search-container-wrapper.main-content-body {
      margin-top: 0;
    }
    .searchcontainer-content {
      li.list-group-item {
        .list-group-item-field {
          display: none;
          border: none;
        }
        .list-group-item-content {
          border: none;
          h6:first-child {
            display: none;
          }
        }
      }
    }
  }
}

//menu
#ControlMenu {
  display: none;
  width: 180px;
  height: 60px;
  background-color: #18272e;
  border: 1px solid #18272e;
  border-radius: 0;;
  ul {
    margin-top: -3px;
    width: auto;
  }
}

/* Hide footer */
footer, #footer {
  display: none !important;
}

/* Hide portlet header */
.portlet:not(#portlet_password-reminder):not(#portlet_new-password) h2.portlet-title-text {
  display: none !important;
}

h2.portlet-title-editable {
  display: none;
}

//alerts
.lfr-notification-wrapper.in {
  height: auto !important;
}

//language portlet
.lang {
  font-family: $light;
  font-size: 12px;
  text-decoration: underline;
  .portlet-body {
    font-size: 0;
    svg {
      margin-left: 5px;
    }
    a > svg > rect:first-child {
      fill: transparent;
    }
    span > svg > rect:first-child {
      fill: #00aaf7;
    }
  }
}

//language portlet
.portlet-boundary_com_liferay_site_navigation_language_web_portlet_SiteNavigationLanguagePortlet_ {
  .portlet-content {
    background: none;
    border: none;
  }
  .lexicon-icon {
    height: 30px;
    width: 30px;
  }
}

//login portlet in wrapper
#wrapper .portlet-login {
  margin: 20px 30px !important;
  .fieldset {
    max-width: 320px;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .button-holder {
    margin: 5px 0 20px 0;
    outline: none;
  }
  .portlet-icon-back {
    display: none;
  }
  form button {
    outline:none;
  }
  .portlet-body .navigation ul li:first-child {
    display: none;
  }
}

#wrapper #portlet_new-password, #wrapper #portlet_password-reminder {
  padding: 20px 60px 0 60px;
  h2 {
    font-size: 20px;
  }
  .btn-primary {
    font-family: "RobotoCondensedBold", sans-serif;
    text-transform: uppercase;
  }
}

.emailQuestionForm {
  border: 1px solid #025ea8;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

body.russiaeasyBody .registrationButton {
  padding: 10px;
  font-family: "RobotoCondensedBold", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  color: white;
  background-color: #63b95f;
  border-radius: 7px;
  border: none;
  outline: none;
}

body.russiaeasyBody .registrationButton:hover {
  background-color: #4ecf47;
}

body.russiaeasyBody .registrationButton:active {
  background-color: #4c9a48;
}

div#portalMessageContainer.alert-info.alert-warning {
  display: none;
}

#wrapper {
  background-color: white !important;
  padding: 0 !important;
  top: 0;
  margin-top: 0 !important;
  width: $width;
}

//content
.portlet-journal-content:not(.fullSizeContent) {
  //padding: 0 80px 0 85px !important;
}

#wrapper .portlet-dropzone .portlet-boundary:not(.fullSizeContent) {
  margin-left: 85px;
  margin-right: 320px;
}

body.russiaeasyBody h3.header-title {
  font-family: $bold;
  text-transform: uppercase;
}

@import "_header";

@import "_navigation";

@import "_privateArea";

@import "_media";
@import "_writeUs";