/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@font-face {
  font-family: 'RobotoCondensedBold';
  src: url('../fonts/RobotoCondensedBold.eot');
  src: url('../fonts/RobotoCondensedBold.eot') format('embedded-opentype'),
  url('../fonts/RobotoCondensedBold.woff2') format('woff2'),
  url('../fonts/RobotoCondensedBold.woff') format('woff'),
  url('../fonts/RobotoCondensedBold.ttf') format('truetype'),
  url('../fonts/RobotoCondensedBold.svg#RobotoCondensedBold') format('svg');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/RobotoLight.eot');
  src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
  url('../fonts/RobotoLight.woff2') format('woff2'),
  url('../fonts/RobotoLight.woff') format('woff'),
  url('../fonts/RobotoLight.ttf') format('truetype'),
  url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}

@font-face {
  font-family: 'RobotoItalic';
  src: url('../fonts/RobotoItalic.eot');
  src: url('../fonts/RobotoItalic.eot') format('embedded-opentype'),
  url('../fonts/RobotoItalic.woff2') format('woff2'),
  url('../fonts/RobotoItalic.woff') format('woff'),
  url('../fonts/RobotoItalic.ttf') format('truetype'),
  url('../fonts/RobotoItalic.svg#RobotoItalic') format('svg');
}

$bold: "RobotoCondensedBold", sans-serif;
$light: "RobotoLight", sans-serif;
$italic: "RobotoItalic", sans-serif;
$width: 1180px; //1080
$widthMiddle: 780px; //680
$widthLow: 320px;
$width-spacer: 100px;

.bold {
  font-family: $bold;
}

//Edit content window fix
body.dialog-with-footer {
  .card-horizontal.main-content-card {
    padding-bottom: 50px;
  }
  .button-holder.dialog-footer {
    position: fixed;
    background-color: white;
  }
}

body.russiaeasyBody {
  #portlet_verify-email-address .alert-info {
    font-size: 18px !important;
    font-family: "RobotoCondensedBold", sans-serif !important;;
  }
  font-family: $light;
  &.signed-out {
    background-color: #f6f6f6;
  }
  font-size: 14px;
  line-height: 24px;
  color: #102a36;
  h1 {
    font-family: $bold;
    font-size: 48px;
    line-height: 64px;
    color: #102a36;
  }
  h2 {
    font-family: $bold;
    font-size: 32px;
    line-height: 40px;
    color: #102a36;
  }
  h3 {
    font-family: $bold;
    font-size: 28px;
    line-height: 46px;
    color: #102a36;
  }
  h4 {
    font-family: $bold;
    font-size: 22px;
    line-height: 32px;
    color: #102a36;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  h5 {
    font-family: $bold;
    font-size: 18px;
    line-height: 24px;
    color: #102a36;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h6 {
    font-family: $bold;
    font-size: 16px;
    line-height: 20px;
    color: #102a36;
    margin-top: 5px;
    margin-bottom: 3px;
  }
  p {
    color: #102a36;
  }

  label {
    font-family: $bold;
    font-size: 16px;
  }

  .capitalized {
    text-transform: capitalize !important;
  }
  .noTransform {
    text-transform: none !important;
  }

  .mobileTopBarWrapper {
    display: none;
  }

  .tooltip {
    max-width: 500px;
    font-family: $light;
    font-size: 14px;
    //&.in {
    //  opacity: 1 !important;
    //}
    .tooltip-inner {
      max-width: none !important;
      color: #102a36;
      background-color: white;
      border-radius: 4px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
      -moz-transition: all 0.1s 0.002s ease;
      -o-transition: all 0.1s 0.002s ease;
      -webkit-transition: all 0.1s 0.002s ease;
      transition: all 0.1s 0.002s ease;
    }
    .tooltip-arrow {
      border-bottom-color: white;
    }
  }

  .lfr-notification-container .lfr-notification-wrapper .lead {
    display: block;
    margin-bottom: 10px;
  }

  .datepicker-popover {
    border-radius: 0;
    border: none;
    box-shadow: 0 5px 34px rgba(0, 0, 0, 0.2);
    transition: all .1s .002s ease;

    .popover-content {
      width: 300px;
    }

    .yui3-calendar.yui3-calendar-focused {
      outline: none !important;
    }
    .yui3-g.yui3-calendar-pane {
      margin-top: 5px;
      outline: none !important;
    }

    .yui3-u.yui3-calendarnav-prevmonth, .yui3-u.yui3-calendarnav-nextmonth {
      outline: none !important;
    }
    .yui3-u.yui3-calendar-header-label {
      color: #565656;
      font-family: "RobotoLight", sans-serif;
    }

    table.yui3-calendar-grid {
      th {
        background-color: white;
        text-align: center;
        font-family: "RobotoLight", sans-serif;
      }
      td {
        border: none;
        color: #565656;
        font-family: "RobotoLight", sans-serif;

        &:hover {
          background-color: #00aaf7;
          color: white;
        }
        &:focus, &.yui3-calendar-day-selected {
          background-color: #025ea8;
          color: white;
        }
        &:active, &:focus {
          border: none;
          outline: none;
        }

      }
    }
  }

  .btn {
    background-color: white;
    color: #005ea7;
    font-family: $bold;
    text-transform: uppercase;
    font-size: 16px;
    border: 1px solid #005ea7;
    padding: 8px 20px;
    border-radius: 6px;
    outline: none !important;
    box-shadow: none;
    //height: 40px;
    -moz-transition: all 0.1s 0.002s ease;
    -o-transition: all 0.1s 0.002s ease;
    -webkit-transition: all 0.1s 0.002s ease;
    transition: all 0.1s 0.002s ease;

    &.btn-short {
      padding-left: 10px;
      padding-right: 10px;
    }
    &.btn-primary {
      padding: 9px 20px;
      background-color: #005ea7;
      border: none;
      color: white !important;
    }
    &:hover {
      background-color: #00aaf7;
    }
    &:focus:active {
      background-color: #007ab1 !important;
    }
    &:disabled {
      background-color: #d5d5d5 !important;
      color: #8a8a8a !important;
      border-color: #8a8a8a !important;
    }
  }

  #portlet_verify-email-address {
    padding: 0 25px;
  }

  input[type="file"] {
    padding: 0 !important;
    box-sizing: content-box;
  }

  input[type="file"]::-webkit-file-upload-button {
    vertical-align: middle;
    height: 100%;
  }

  .input-select-wrapper select[multiple] {
    height: auto;
  }

  input.field {
    border: 1px solid #ccc !important;
  }

  body.russiaeasyBody input.field:hover, body.russiaeasyBody .chosen-container:hover ul {
    border-color: #51c5f9;
  }

  select {
    height: 40px;
    font-size: 16px;
    color: #102a36;
    padding: 8px 15px;
    box-shadow: none;
    outline: none;
    -moz-transition: all 0.1s 0.002s ease;
    -o-transition: all 0.1s 0.002s ease;
    -webkit-transition: all 0.1s 0.002s ease;
    transition: all 0.1s 0.002s ease;
    &:hover {
      border-color: #51c5f9;
    }
    &:focus {
      background-color: #f2fbff;
      box-shadow: inset 0 -1px 16px rgba(0, 0, 0, 0.075);
    }
    &.error-field {
      background-color: #ffe4e4;
    }
    option {
      background-color: white !important;
    }
  }

  input.form-control, .language-value {
    height: 40px;
    font-size: 16px;
    color: #102a36;
    padding: 8px 15px;
    border-radius: 3px;
    border: 1px solid gray;
    box-shadow: none;
    outline: none;
    -moz-transition: all 0.1s 0.002s ease;
    -o-transition: all 0.1s 0.002s ease;
    -webkit-transition: all 0.1s 0.002s ease;
    transition: all 0.1s 0.002s ease;
    &:hover {
      border: 1px solid #51c5f9 !important;
    }
    &:focus {
      background-color: #f2fbff;
    }
    &.error-field {
      background-color: #ffe4e4;
    }
  }

  textarea.language-value {
    height: 70px;
  }

  //a:not(.btn) {
  //  color: #005ea7;
  //  &:hover {
  //    color: #0093d5;
  //  }
  //}

  div.taglib-header {
    border: none;
  }

  span.icon-asterisk.text-warning {
    color: #005ea7;
  }

  .lexicon-icon-question-circle-full {
    color: burlywood;
  }

  table tr:first-child {
    background-color: #f7f7f7;
  }

  .lfr-search-container-wrapper.fullSizeTable {
    width: 1130px;
    margin-left: -60px;
    table {
      border: 1px solid #ddd;
      tr {
        border-bottom: rgb(221, 221, 221) 1px solid;
      }
    }
  }

  .lfr-search-container-wrapper.table-simple {
    table {
      border: 1px solid #ddd;
      tr {
        border-bottom: rgb(221, 221, 221) 1px solid;
      }
    }
  }

  .lfr-search-container-wrapper {

    .taglib-search-iterator-page-iterator-top .lfr-pagination-config,
    .taglib-search-iterator-page-iterator-top .lfr-pagination-buttons {
      display: none;
    }

    .taglib-search-iterator-page-iterator-top .lfr-pagination small.search-results {
      margin-top: -20px;
    }
    .taglib-search-iterator-page-iterator-bottom .lfr-pagination small.search-results {
      margin-top: -40px;
    }
    table {
      border: none;
      tr {
        background-color: white;
        border-bottom: white 20px solid;
        td.table-cell.only {
          background-color: #f7f7f7;
          border: none;
          padding: 5px 20px 10px 20px;
        }
      }
    }

    .lfr-pagination {
      .btn {
        padding: 8px 10px !important;
      }
      .lfr-pagination-config {
        text-align: left;
        .open > .btn-default.dropdown-toggle {
          background-color: #00aaf7;
          border: 1px solid #005ea7;
          color: #005ea7;
          &:hover {
            background-color: #00aaf7;
          }
        }
      }
      small.search-results {
        position: absolute;
        width: 300px;
        text-align: center;
        left: 50%;
        margin-left: -150px !important;
        margin-top: -40px;
      }
      ul.lfr-pagination-buttons.pager {
        margin: 3px 0;
        text-align: right;
        li.first {
          display: none;
        }
        li.last {
          display: none;
        }
        li.disabled a {
          background-color: #d5d5d5 !important;
          color: #8a8a8a !important;
          border-color: #8a8a8a !important;
        }
        li a {
          background-color: white;
          color: #005ea7;
          font-family: $bold;
          text-transform: uppercase;
          font-size: 16px;
          border: 1px solid #005ea7;
          padding: 8px 20px;
          border-radius: 6px;
          outline: none !important;
          box-shadow: none;
          height: 40px;
          &:hover {
            background-color: #00aaf7;
          }
          &:focus:active {
            background-color: #007ab1 !important;
          }
          &:disabled {
            background-color: #d5d5d5;
            color: #d5d5d5;
          }
        }
      }

    }
  }

}

.slick-slide img {
  -moz-transition: filter 0.1s 0.002s ease;
  -o-transition: filter 0.1s 0.002s ease;
  -webkit-transition: filter 0.1s 0.002s ease;
  transition: filter 0.1s 0.002s ease;
}

.redLine {
  width: 60px;
  height: 5px;
  background-color: #e42c2b;
}

// Searching
#_com_liferay_portal_search_web_portlet_SearchPortlet_facetNavigation {
  display: none;
}

#_com_liferay_portal_search_web_portlet_SearchPortlet_searchContainer {
  > div > div {
    vertical-align: middle;
  }
}

#portlet_com_liferay_portal_search_web_portlet_SearchPortlet {
  .portlet-icon-back {
    display: none;
  }
  form {
    margin-left: 40px;
    .lfr-search-container-wrapper.main-content-body {
      margin-top: 0;
    }
    .searchcontainer-content {
      li.list-group-item {
        .list-group-item-field {
          display: none;
          border: none;
        }
        .list-group-item-content {
          border: none;
          h6:first-child {
            display: none;
          }
        }
      }
    }
  }
}

//menu
body.closed #ControlMenu {
  display: none;
  height: 60px;
  background-color: #18272e;
  border: none;
  border-radius: 0;;
  border-right: 4px solid #e42c2b;
  width: 2px;
  > .container-fluid-1280 {
    display: none;
  }
  ul {
    margin-top: -3px;
    width: auto;
  }
  &:hover {
    width: 190px;
    > .container-fluid-1280 {
      display: block;
    }
  }
}

/* Hide footer */
footer, #footer {
  display: none !important;
}

/* Hide portlet header */
.portlet:not(#portlet_password-reminder):not(#portlet_new-password) h2.portlet-title-text {
  display: none !important;
}

h2.portlet-title-editable {
  display: none;
}

//alerts
.lfr-notification-wrapper.in {
  height: auto !important;
}

// (?) icon
.lexicon-icon-question-circle-full {
  color: #decc87 !important;
  &:hover {
    color: burlywood !important;;
  }
}

//language portlet
.lang {
  font-family: $light;
  font-size: 12px;
  text-decoration: underline;
  .portlet-body {
    font-size: 0;
    svg {
      margin-left: 5px;
    }
    a > svg > rect:first-child {
      fill: transparent;
    }
    span > svg > rect:first-child {
      fill: #00aaf7;
    }
  }
}

//language portlet
.portlet-boundary_com_liferay_site_navigation_language_web_portlet_SiteNavigationLanguagePortlet_ {
  .portlet-content {
    background: none;
    border: none;
  }
  .lexicon-icon {
    height: 30px;
    width: 30px;
  }
}

//login portlet in wrapper
#wrapper .portlet-login {
  margin: 20px 30px !important;
  .fieldset {
    max-width: 320px;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .button-holder {
    margin: 5px 0 20px 0;
    outline: none;
  }
  .portlet-icon-back {
    display: none;
  }
  form button {
    outline: none;
  }
  .portlet-body .navigation ul li:first-child {
    display: none;
  }
}

#wrapper #portlet_new-password, #wrapper #portlet_password-reminder {
  padding: 20px 60px 0 60px;
  h2 {
    font-size: 20px;
  }
  .btn-primary {
    font-family: "RobotoCondensedBold", sans-serif;
    text-transform: uppercase;
  }
}

.emailQuestionForm {
  border: 1px solid #025ea8;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

body.signed-in.russiaeasyBody .registrationButton {
  display: none;
}

body.russiaeasyBody .registrationButton {
  padding: 10px;
  font-family: "RobotoCondensedBold", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  color: white;
  background-color: #63b95f !important;
  border-radius: 7px;
  border: none;
  outline: none !important;
  &:hover {
    background-color: #4ecf47 !important;
  }
  &:active, &:active:focus {
    background-color: #4c9a48 !important;
  }
}

div#portalMessageContainer.alert-info.alert-warning {
  display: none;
}

#wrapper {
  background-color: white !important;
  padding: 40px 0 0 0 !important;
  margin-top: 0 !important;
  top: 0;
  width: $width;
}

//content
.portlet-journal-content:not(.fullSizeContent) {
  //padding: 0 80px 0 85px !important;
}

#wrapper .portlet-dropzone .portlet-boundary:not(.fullSizeContent) {
  margin-left: 100px;
  margin-right: 400px;
}

#portlet_new-password {
  max-width: 800px;
}

//portlet
.portlet {
  header.portlet-topper {
    border-radius: 0 !important;
  }
  .portlet-content, div.portlet-column.portlet-column-only, .portlet-layout {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }
}

body.russiaeasyBody h3.header-title {
  font-family: $bold;
  text-transform: uppercase;
}

.navigationPanelWrapper {
  display: none;
  position: absolute;
  z-index: 12;
  margin-top: 25px;
  right: 60px;
  .navigationPanel {
    width: 230px;
    background-color: #f8f8f8;
    padding: 20px 0 20px 0;
    &:hover {
      display: block !important;
    }
    > ul {
      padding-left: 0;
      > li {
        padding-left: 0;
        text-align: left;
        list-style-type: none;
        margin: 15px 0;
        &.selected {
          > a {
            border-left: 5px solid #0093d5;
            padding: 4px 10px 4px 25px;
            color: #0093d5;
          }
        }
        > a {
          padding-left: 30px;
          font-family: $bold;
          text-transform: uppercase;
          color: #102a36;
          text-decoration: none;
          &:hover {
            color: #00a1ed;
          }
        }
        > ul {
          display: none;
          padding-left: 0;
          > li {
            border-left: none;
            padding-left: 35px;
            text-align: left;
            list-style-type: none;
            margin: 10px 0;
            &.selected {
              border-left: none;
              a {
                color: #0093d5;
              }
            }
            a {
              font-family: $light;
              text-transform: none;
              padding-left: 0;
              color: #102a36;
              text-decoration: none;
              &:hover {
                color: #00a1ed;
              }
            }
          }
        }
        &.selected ul {
          display: block;
        }
        &:hover ul {
          display: block;
        }
      }
    }
  }
}

.portlet-boundary > section.portlet {
  margin: 0 !important;
}

.ddlWithoutActions .lfr-meta-actions {
  display: none;
}

body #onesignal-bell-container.onesignal-reset .onesignal-bell-launcher.onesignal-bell-launcher-bottom-right {
  bottom: 130px;
  right: 60px;
}

@import "_header";

@import "_navigation";

//@import "_privateArea";
@import "_rightBlock";

@import "_media";
@import "_writeUs";