/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@font-face {
  font-family: 'RobotoCondensedBold';
  src: url('../fonts/RobotoCondensedBold.eot');
  src: url('../fonts/RobotoCondensedBold.eot') format('embedded-opentype'),
  url('../fonts/RobotoCondensedBold.woff2') format('woff2'),
  url('../fonts/RobotoCondensedBold.woff') format('woff'),
  url('../fonts/RobotoCondensedBold.ttf') format('truetype'),
  url('../fonts/RobotoCondensedBold.svg#RobotoCondensedBold') format('svg');
}

@font-face {
  font-family: 'MinionProRegular';
  src: url('../fonts/MinionProRegular.eot');
  src: url('../fonts/MinionProRegular.eot') format('embedded-opentype'),
  url('../fonts/MinionProRegular.woff2') format('woff2'),
  url('../fonts/MinionProRegular.woff') format('woff'),
  url('../fonts/MinionProRegular.ttf') format('truetype'),
  url('../fonts/MinionProRegular.svg#MinionProRegular') format('svg');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/RobotoLight.eot');
  src: url('../fonts/RobotoLight.eot') format('embedded-opentype'),
  url('../fonts/RobotoLight.woff2') format('woff2'),
  url('../fonts/RobotoLight.woff') format('woff'),
  url('../fonts/RobotoLight.ttf') format('truetype'),
  url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}

@font-face {
  font-family: 'RobotoItalic';
  src: url('../fonts/RobotoItalic.eot');
  src: url('../fonts/RobotoItalic.eot') format('embedded-opentype'),
  url('../fonts/RobotoItalic.woff2') format('woff2'),
  url('../fonts/RobotoItalic.woff') format('woff'),
  url('../fonts/RobotoItalic.ttf') format('truetype'),
  url('../fonts/RobotoItalic.svg#RobotoItalic') format('svg');
}

$bold: "RobotoCondensedBold", sans-serif;
$reg: "MinionProRegular", sans-serif;
$light: "RobotoLight", sans-serif;
$italic: "RobotoItalic", sans-serif;
$width: 1180px;

p {
  margin: 0 !important;
}

body {
  background-color: #f6f6f6;
}

#ControlMenu {
  width: 180px;
}

.header {
  background: url("../images/banner.jpg") no-repeat center bottom;
  background-size: auto 100%;
  height: 760px;
  .container {
    width: $width;
    text-align: center;
    .withLogo {
      color: white;
      .writeUs {
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom: white 1px solid;
        font-family: $light;
        .writeUsBtn {
          vertical-align: top;
          margin-right: 10px;
          padding: 5px 10px;
          border: white 1px solid;
          background-color: transparent;
          border-radius: 5px;
          font-size: 13px;
        }
        .writeUsText {
          font-size: 12px;
          display: inline-block;
        }
      }
      .logo {
        text-align: center;
      }
      .logoRight {
        text-align: right;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: white 1px solid;
        .lang {
          font-family: $light;
          font-size: 12px;
          text-decoration: underline;

        }
        .privateArea {
          padding-top: 25px;
          font-family: $bold;
          font-size: 15px;
          color: white;
          a {
            color: white;
            &:hover {
              color: #5292d2;
              text-decoration: none;
            }
          }
        }
      }
    }
    .education {
      color: white;
      text-align: center;
      .educationHeader {
        font-family: $bold;
        text-transform: uppercase;
        font-size: 48px;
        margin: 20px 10px 6px 10px;
      }
      .redLine {
        width: 60px;
        height: 5px;
        background-color: #e42c2b;
        display: inline-block;
      }
      .educationText {
        font-family: $light;
        font-size: 20px;
        line-height: 1.2;
        margin: 15px 10px;
      }
      button {
        padding: 20px 43px;
        font-family: $bold;
        text-transform: uppercase;
        font-size: 20px;
        background-color: #82b865;
        border-radius: 15px;
        border: none;
        margin: 15px 20px;
      }
      .educationWhyReg {
        display: inline-block;
        margin: 0 10px;
        &:hover .educationWhyRegTextWrapper {
          display: block;
        }
        .educationWhyRegTextWrapper {
          background-color: transparent;
          position: absolute;
          margin-left: -222px;
          margin-top: -160px;
          padding-bottom: 40px;
          display: none;
          z-index: 10;
          .educationWhyRegTextBlock {
            background-color: white;
            border: none;
            border-radius: 8px;
            padding: 32px;
            p {
              font-family: $light;
              font-size: 16px;
              color: #102a36;
            }
          }
        }
        > p {
          font-family: $light;
          font-size: 12px;
          color: #aeaeae;
          text-decoration: none; /* Убираем подчеркивание */
          border-bottom: 1px dashed #aeaeae; /* Добавляем свою линию */
          display: inline-block;
          margin: 0;
          &:hover {
            color: #5292d2;
          }
        }
      }
    }
  }
}

.header + #navigation {
  margin-top: -80px !important;
}

nav#navigation {
  width: $width;
  margin-right: auto;
  margin-left: auto;
  background-color: #025ea8;
  //main tab
  > ul {
    padding-left: 12px;
    > li {
      height: 80px;
      display: inline-block;
      padding: 30px 38px;
      margin: 0;
      color: white;
      > a {
        font-family: $bold;
        text-transform: uppercase;
        font-size: 18px;
      }
      .delete-tab {
        color: white;
        font-weight: normal;
        right: 20px;
        top: 18px;
        text-shadow: none;
        margin: 0;
        &:hover {
          color: #ff8300;
          background-color: transparent;
          text-shadow: none;
        }
      }
    }
  }
  //all tabs
  li {
    list-style-type: none;
    padding: 12px 30px;
    &:hover {
      color: #00a1ed;
    }
    > ul.child-menu {
      padding: 15px 0;
      background-color: white;
      color: black;
      font-family: $light;
      font-size: 14px;
      display: none;
      position: absolute;
      top: 75px;
      left: 0;
      width: 260px;
      z-index: 3;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      &:hover {
        display: block;
      }
    }
    > a {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      &:hover {
        text-decoration: none;
        background-color: transparent;
      }
    }
    &:hover {
      > ul.child-menu {
        display: block;
      }
    }
  }
  li.writeUsOnNav {
    background-color: #5292d2;
    font-family: $bold;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 7px;
    padding: 7px 30px;
    height: 35px;
    &:hover  {
      background-color: #4579ae;
      color: white;
    }
  }
}

#wrapper {
  background-color: white !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  top: -10px;
  width: $width;
}

//language portlet
.portlet-boundary_com_liferay_site_navigation_language_web_portlet_SiteNavigationLanguagePortlet_ {
  .portlet-content {
    background: none;
    border: none;
  }
  .lexicon-icon {
    height: 30px;
    width: 30px;
  }
}