$regular: "RobotoRegular", sans-serif;
$bold: "RobotoCondensedBold", sans-serif;
$light: "RobotoLight", sans-serif;
$italic: "RobotoItalic", sans-serif;
$width: 1180px;
$widthMiddle: 780px;
$widthLow: 320px;

.header {
  background: url("../images/russiaeasy/header/header_bg.jpg") no-repeat center bottom;
  background-size: auto 100%;
  height: 638px;
  margin-top: -60px; //todo cut picture?

  .container {
    padding: 110px 70px 0 70px;
    width: $width;
    color: white;
    vertical-align: top;

    .mainBlock {
      display: inline-block;
      text-align: left;
      width: 720px;

      .logo {

      }

      .program {
        padding-top: 40px;
        padding-left: 10px;

        .simpleWay {
          font-family: $regular;
          font-size: 22px;
          line-height: 26px;
        }

        .selectProgram {
          margin-top: 10px;
          font-family: $bold;
          font-size: 48px;
          line-height: 52px;
          text-transform: uppercase;

          &:after {
            padding-top: 23px;
            padding-left: 10px;
            content: url("../images/russiaeasy/header/arrow.png");
            position: absolute;
          }
        }
      }
    }

    .aboutRussiaBlock {
      display: inline-block;
      width: 310px;
      vertical-align: top;
      text-align: left;
      padding-top: 30px;
      font-family: $light;
      font-size: 14px;
      padding-left: 50px;

      > div {
        margin-bottom: 20px;

        &:before {
          position: absolute;
          margin-left: -40px;
        }
      }

      .aboutStudents:before {
        content: url("../images/russiaeasy/header/aboutStudents.png");
      }

      .aboutEducation:before {
        content: url("../images/russiaeasy/header/aboutEducation.png");
      }

      .aboutTop:before {
        content: url("../images/russiaeasy/header/aboutTop.png");
      }

      .aboutCount:before {
        content: url("../images/russiaeasy/header/aboutCount.png");
      }
    }

    .btnPlaceholder {
      text-align: center;
      padding-top: 100px;

      button {
        width: 80%;
        font-size: 30px;
      }
    }
  }
}

.header + #navigation {
  margin-top: -60px !important;
}