$bold: "RobotoCondensedBold", sans-serif;
$light: "RobotoLight", sans-serif;
$italic: "RobotoItalic", sans-serif;
$width: 1180px;
$widthMiddle: 780px;
$widthLow: 320px;

.navigationLineTopPlaceholder {
  height: 60px;
}

body:not(.role-enrollee) .navigationLine li.enrollee-area {
  display: none !important;
}

body.signed-out #navigationList li.program {
  a {
    background-color: #63b95f;
    padding: 5px 20px;
    border-radius: 5px;
    color: white !important;
  }
  &:hover a {
    background-color: #4ecf47 !important;
  }
}

.navigationLine {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  background-color: #025ea8;

  .hamburger {
    display: none;
  }

  nav#navigation {
    text-align: left;
    //padding-right: 60px;
    width: $width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 50px;
    background-color: #025ea8;
    //main tab
    > ul {
      display: inline-block;
      padding-left: 0;
      margin-bottom: 0;

      > li {
        height: 60px;
        display: inline-block;
        padding: 18px 11px 0 11px;
        margin: 0;
        color: white;
        border: none;
        position: relative;

        .delete-tab {
          display: none;
        }

        .lexicon-icon-bars {
          display: none;
        }

        > a {
          font-family: $bold;
          text-transform: uppercase;
          font-size: 18px;
          -moz-transition: all 0.1s 0.002s ease;
          -o-transition: all 0.1s 0.002s ease;
          -webkit-transition: all 0.1s 0.002s ease;
          transition: all 0.1s 0.002s ease;
        }

        &:hover .delete-tab {
          opacity: 1;
        }

        .delete-tab {
          color: white;
          right: 20px;
          top: 10px;
          text-shadow: none;
          margin: 0;
          background-color: transparent;
          font-size: 22px;
          line-height: 20px;
          position: absolute;
          opacity: 0;

          &:hover {
            opacity: 0.4;
          }
        }
      }
    }

    //all tabs
    li {
      list-style-type: none;
      padding: 12px 30px;

      &:hover {
        color: #00a1ed;
      }

      > ul.child-menu {
        padding: 15px 0;
        background-color: white;
        color: black;
        font-family: $light;
        font-size: 14px;
        display: none;
        position: absolute;
        top: 60px;
        left: 8px;
        width: 260px;
        z-index: 3;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

        &:hover {
          display: block;
        }
      }

      > a {
        font-family: inherit;
        font-size: inherit;
        color: inherit;

        &:hover {
          text-decoration: none;
          background-color: transparent;
        }
      }

      &:hover {
        > ul.child-menu {
          display: block;
        }
      }
    }

    .rightNavBlock {
      display: inline-block;
      float: right;

      > div {
        display: inline-block;
        line-height: 60px;
      }

      .account {
        padding: 0 12px;
        color: white;

        a {
          font-size: 13px;
          color: white;
          text-decoration: underline;

          &:hover, &:active {
            color: #0093d5;

            img {
              content: url('../images/russiaeasy/navigation/profile_h.png');
            }
          }

          img {
            content: url('../images/russiaeasy/navigation/profile.png');
            margin-right: 5px;
          }
        }
      }

      .writeUsOnNav {
        padding: 0 12px;

        a {
          font-size: 13px;
          color: #fffc;
          cursor: pointer;

          &:hover, &:active {
            color: #0093d5;

            img {
              content: url('../images/russiaeasy/navigation/mail_h.png');
            }
          }

          img {
            content: url('../images/russiaeasy/navigation/mail.png');
          }
        }
      }

      #searchBtn {
        width: 60px;
        height: 60px;
        //background-color: #0d6bb7;
        //margin-top: -60px;
        border: none;
        border-radius: 0;
        outline: none;

        img {
          content: url('../images/russiaeasy/navigation/search.png');
        }

        &:hover, &:focus:active {
          img {
            content: url('../images/russiaeasy/navigation/search_h.png');
          }
        }

        &.active {

          img {
            content: url('../images/russiaeasy/close.png') !important;
          }

          &:hover img {
            opacity: 0.5;
          }
        }
      }

      .searchView {
        position: absolute;
        margin-left: -1060px;

        &.active .searchField {
          display: inline-block !important;
        }

        .searchField {
          display: none;
          width: 1050px;
          margin-top: 10px;
          vertical-align: top;
          padding: 0 !important;

          #p_p_id_com_liferay_portal_search_web_portlet_SearchPortlet_ {
            display: block !important;

            div.portlet-content {
              padding: 0 !important;
              margin: 0 !important;
            }
          }

          .portlet-search {
            margin-top: 0;
            vertical-align: middle;

            form {
              margin-left: 20px;

              .input-text-wrapper {
                width: 100%;

                input.search-input {
                  height: 38px;
                  border-radius: 25px;
                  padding: 0 22px;
                }
              }

              .field-wrapper {
                float: right;
                margin-top: -75px;
                width: 40px;
                height: 0;
                padding: 4px;
                margin-bottom: 0;
              }

              .taglib-empty-result-message {
                border: none;
              }
            }
          }
        }
      }

      .languages {
        text-align: center;
        width: 60px;

        &:hover {
          // background-color: #008dff !important;
        }

        .shortLabel {
          color: white;
          text-transform: uppercase;
          font-family: "RobotoCondensedBold", sans-serif;
          font-size: 12px;
          line-height: 16px;
        }

        //stock block
        .portlet-topper {
          display: none;
        }

        > div.portlet-language {
          display: inline-block;
        }

        .portlet-content {
          padding: 0;
        }

        .portlet-body {
          > span {
            display: block;
          }

          > a {
            display: none;
          }
        }

        :hover {
          .portlet-body > a {
            //display: block !important;
          }
        }

        .languageDropdown {
          display: none;
          background-color: white;
          width: 130px;
          position: absolute;
          margin-left: -70px;
          text-align: left;
          padding: 10px 20px;
          border-radius: 5px;
          text-transform: capitalize;
          z-index: 20;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

          //arrow
          // see http://www.cssarrowplease.com/
          border: 1px solid #ffffff;

          &:after, &:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }

          &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #ffffff;
            border-width: 12px;
            margin-left: 22px;
          }

          &:before {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #ffffff;
            border-width: 13px;
            margin-left: 22px;
          }
        }
      }
    }
  }
}